.wrapper{
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 80%;
    background-color: #f2f4f5;
}

.image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}